.container {
    max-width: 1100px;
}

.logoName{
    font-family: 'Audiowide', sans-serif;
}

.pabaout {
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

.pabaout p {
    margin: 0 auto;
    text-align: justify;
    text-align-last: center;
}

@media (max-width:768px)
{

    .pabaout {
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }

}